  button {
  padding: 20px 40px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3), 0 8px 25px rgba(0, 0, 0, 0.25);
  transform: translateY(0);
  transition: transform 0.3s ease;
  color: white;
  background-color: #ff6347;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  transform: translateY(0);
}

span {
  font-size: 28px;
  font-weight: bold;
  margin: 0 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3), 0 8px 25px rgba(0, 0, 0, 0.25);
  transform: translateY(0);
  transition: transform 0.3s ease;
  color: white;
}

body {
  background-color: #f0f0f0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

div {
  background-color: #333;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3), 0 8px 25px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

button:last-child {
  margin-top: 20px;
  align-self: stretch;
}
