@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    height: 90vh;
    font-family: 'Roboto', sans-serif;
    background-color: #2b2b2b;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
  }
  
  .main {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background: linear-gradient(135deg, #fff 0%, #f4f4f4 100%);
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  h1 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
    font-size: 24px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    margin-top: 0;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    border-spacing: 0 10px;
    font-size: 14px;
    border: 1px solid #ddd;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    vertical-align: middle;
  }
  
  th {
    background-color: #f1f1f1;
    font-weight: bold;
    text-align: center;
    background: linear-gradient(135deg, #f1f1f1 0%, #e0e0e0 100%);
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: border-color 0.3s ease;
  }
  
  button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  
  button:hover {
    opacity: 0.8;
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  button:focus {
    outline: none;
  }
  
  button:active {
    transform: scale(0.98);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  }
  
  .btn1{
    background-color: #28a745;
    color: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  
  .btn1:hover {
    background-color: #25a43a;
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  .btn2 {
    background-color: #dc3545;
    color: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  
  .btn2:hover {
    background-color: #c82333;
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  tr {
    text-align: center;
  }
  
  td:last-child {
    text-align: center;
  }
  
  input[type="text"]:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  }
  
  thead th:last-child {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
  }
  
  tbody td:last-child {
    width: 50px;
  }