body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
}

.main {
  margin: 50px auto;
  width: 80%;
  max-width: 800px;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

th,
td {
  padding: 12px 20px;
  text-align: left;
}

th {
  background-color: #4CAF50;
  color: white;
}

td {
  border-bottom: 1px solid #ddd;
}

td input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  margin: 0;
}

td input:focus {
  outline: none;
  border-color: #4CAF50;
}

.btn1,
.btn2 {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.btn1:hover,
.btn2:hover {
  background-color: #45a049;
}

.btn2 {
  background-color: #f44336;
}

.btn2:hover {
  background-color: #d32f2f;
}

td {
  text-align: center;
}

th,
td button {
  text-align: center;
}